{% liquid
  assign related = products | default: article.metafields.custom.related_products.value
  assign heading = heading | default: 'You Might Also Like'
%}

{% if related != blank %}
  <h2 class="related_product_heading">{{ heading }}</h2>
  <div class="grid-uniform products-collection rlp_regular">
    {% for prod in related limit: 9 %}
      {% assign product = prod %}
      <div class="grid__item">
        {% include 'product-grid-item' %}
        {%- comment -%}
          If your theme uses render instead of include. swap to:
          {% render 'product-grid-item', product: prod %}
        {%- endcomment -%}
      </div>
    {% endfor %}
  </div>
{% endif %}
