{% liquid
  assign related = products | default: article.metafields.custom.related_products.value
  assign heading = heading | default: 'You Might Also Like'
%}

{% if related != blank %}
  <div class="related_product_section container dt-prl-30" role="complementary" aria-label="Related products">
    <h2 class="related_product_heading">{{ heading }}</h2>
    <div class="grid-uniform products-collection rlp_regular">
      {% for prod in related limit: 9 %}
        <div class="grid__item">
          {% render 'product-grid-item', product: prod %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
